.footerWrap{
  display: flex;
  justify-content: center;
}
.footer{
  width: 64rem;
  height: 8.25rem;
  font-size: 0.75rem;
  background: url("../images/foot.jpg");
  margin: 0 auto 30px auto;
  .footerTop{
    height: 7.125rem;
    padding-top: 4.375rem;
    p{
      font-size: 0.8125rem;
      margin-bottom: 0.625rem;
    }
    a{
      cursor: pointer;
    }
  }
  .footerBottom{
    height: 1.125rem;
    display: flex;
    justify-content: center;
  }
}
