.wrap{
  display: flex;
  width: 100%;
  justify-content: center;
}
.homeWrap{
  width: 64rem;
  display: flex;
  justify-content: space-between;
}
.homeLeft{
  width: 30rem;
  height: 470px;
  border: 1px solid #E8E8E8;
  padding: 5px;
}
.homeRight{
  width: 530px;
  height: auto;
}
@for $i from 1 through 4 {
  .img-#{$i} {
    background-image: url("../../static/images/#{$i}.jpg");
    background-size: 530px 470px;
    width: 530px;
    height: 470px;
  }
}